<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Items Catalog</title>

	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">

	<!--[if lte IE 8]>
			<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
	<![endif]-->
	<!--[if gt IE 8]><!-->
			<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
	<!--<![endif]-->


			<!--[if lte IE 8]>
					<link rel="stylesheet" href="css/layouts/items-old-ie.css">
			<![endif]-->
			<!--[if gt IE 8]><!-->
					<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
			<!--<![endif]-->
</head>

<body>
	<div class="l-content">
		{% block content %}
		{% endblock %}
	</div>
</body>

</html>
